# Ignore Visual Studio Code Workspace File
.code-workspace

# Ignore Node.js Modules
node_modules/

# Ignore Divi Coming Soon Page JSON File
divi-coming-soon-page.json

# Ignore Misc
.DS_Store
.package-lock.json